html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
button,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    color: #b2b2b2;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* == End Reset == */


:root {
    --blue: #54cdec;
    --light-blue: #aaf4fd;
    --dark-blue: #3bb8d8;
}

/* == Global Styles == */

html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    min-width: 700px;
    min-height: 100vh;
    overflow: hidden;
}

html.quiz {
    background: var(--light-blue);
    background: url(../img/water-bottom.png) bottom center repeat-x var(--light-blue);
    background-size: 1104px 185px;
}

html.settings {
    background: var(--blue);
}

.container {
    width: 700px;
    min-height: 100%;
    /*overflow: hidden;*/
    margin: 0 auto;
}


/* == Troll / Water == */

@-webkit-keyframes wavesl {
    0% {
        margin-left: 0px;
    }

    50% {
        margin-left: 10px;
    }

    100% {
        margin-left: 0px;
    }
}

@-webkit-keyframes wavesr {
    0% {
        margin-right: 0px;
    }

    50% {
        margin-right: 10px;
    }

    100% {
        margin-right: 0px;
    }
}

@-webkit-keyframes troll-water {
    0% {
        margin-top: 0px;
    }

    50% {
        margin-top: 10px;
    }

    100% {
        margin-top: 0px;
    }
}

.troll-container {
    height: 96px;
    position: absolute;
    bottom: 0px;
    width: 700px;
}

.water {
    position: relative;
    height: 100%;
    width: 100%;
}

html.settings .water {
    margin-top: 36px;
}

.troll {
    width: 250px;
    height: 225px;
    position: absolute;
    bottom: 36px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    overflow: hidden;
}

.troll img {
    width: 100%;
    -webkit-animation: troll-water 2.25s infinite ease-out;
}

#waterleft,
#waterright {
    position: absolute;
    top: 0;
}

#waterleft {
    left: -247px;
    -webkit-animation: wavesl 2.25s infinite ease-out;
}

#waterright {
    right: -202px;
    -webkit-animation: wavesr 2.25s infinite ease-out;
}








h1 {
    font-size: 32px;
    color: var(--dark-blue);
    line-height: 1.25;
}

.settings h1 {
    color: white;
    display: inline-block;
}

.settings .heading {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    margin: 20px 0;
}

.settings .heading #finished {
    margin-left: auto;
}

.settings section {
    margin-bottom: 20px;
}

.settings h2 {
    font-size: 24px;
    color: white;
    margin-bottom: 5px;
}

.settings p {
    font-size: 16px;
    color: white;
    opacity: 0.75;
    margin-bottom: 20px;
}

.settings a {
    color: white;
}

.btn {
    color: var(--blue);
    background: white;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    line-height: 24px;
    padding: 10px 15px;
    -webkit-box-shadow: 0 1px 1px 0 #00a6bf;
    display: inline-block;
}

.btn:not(.SelectedBtn):hover {
    -webkit-box-shadow: 0 1px 5px 0 #00a6bf;
}

button.unSelectedBtn {
    color: var(--blue);
    background: white;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    line-height: 24px;
    -webkit-box-shadow: 0 1px 1px 0 #00a6bf;
    display: inline-block;
}

button.SelectedBtn {
    color: white;
    background: var(--dark-blue);
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    line-height: 24px;
    -webkit-box-shadow: none;
    display: inline-block;
        box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, .1);
}

.hiddenBtn {
    display: none !important;
}

button.showBtn {
    display: inline;
}





.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 20px;
}

.textarea {
    height: 80px;
    background: var(--dark-blue);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, .1);
    padding: 10px;
}

.uploader {
    background: var(--dark-blue);
    /*box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, .1);*/
    margin-top: 20px;
    padding: 5px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
#fileBtn {
    padding: 0;
    margin: 0;
    align-items: bottom;
    height: 18px;
    color: white;
}

#prevFile {
    color: white;
    font-size: 16px;
}

.uploader:after {
    content: '';
    position: absolute;
    top: 0;
    left: 84%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: var(--dark-blue);
    border-top: 0;
    margin-left: -10px;
    margin-top: -10px;
}



/* == Content == */

.container {
    height: calc(100vh - 185px);

}

.speech {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.speech .single {
    background: white;
    border-radius: 4px;
    padding: 30px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
}

.speech p {
    color: gray;
    margin-bottom: 50px;
}

.speech h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.speech a {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 3px;
    text-decoration: none;
    background: var(--blue);
    color: white;
    cursor: pointer;
}

.speech .single::after {
    content: url(../img/speech.png);
    display: block;
    position: absolute;
    width: 57px;
    height: 31px;
    transform: rotate(180deg);
    right: 20%;
    margin-top: 20px;
}


#question {
    text-align: center;
    height: calc(100vh - 185px);
    display: flex;
    align-items: center;
}

.single {
    width: 100%;
}

#question ul {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 20px;
}

#question ul li {
    background: white;
    color: var(--blue);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
    border-radius: 3px;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

#question ul li:hover {
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

#question ul li.q-correct {
    background: green;
    color: white;
}

#question ul li.q-incorrect {
    background: red;
    color: white;
}

ul.answers li {}

ul.answers li img {
    margin-left: 40px;
    position: relative;
    top: 5px;
    display: block;
}

h1 img {
    display: block;
    position: relative;
    top: 10px;
    margin: 0 auto;
}